:root {
    --primary-color: rgb(229, 251, 250);
    --secondary-color:#f4f4f4
    --third-color: #FFE25Fff;
  }

.footer{
    flex-shrink: 0; /* Prevent footer from shrinking */
    background-color: rgb(229, 251, 250);
    padding: 2em;
    box-sizing: border-box;
}



.footer-font{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-bar{
    flex-direction: column;
    display: flex;
    align-items: center;
}

.footer-nav{
    padding: 0em;
}