:root {
    --primary-color: rgb(229, 251, 250);
    --secondary-color:#f4f4f4
    --third-color: #FFE25Fff;
  }

.footer{
    display: flex;
    background-color: rgb(229, 251, 250);
    
    flex-direction: row;
    justify-content: center;
}

.footer-links{
    display: flex;
    flex-direction:row;
    justify-content:center;
    width:100%;
    font-size: 1.1vh;
    align-items: center;
}

.footer-links div{
    display: flex;
    margin-right: 4em;
    margin-left: 4em;
}

.footer-links a:link{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.footer-links a:visited{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.footer-links a:hover{
    color: blue; 
    text-decoration: underline; 
    cursor: pointer;
}