:root {
    --primary-color: rgb(229, 251, 250);
    --secondary-color:#f4f4f4
    --third-color: #FFE25Fff;
  }

.footer{
    position: fixed;
    width: 100vw;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(229, 251, 250);
    padding: 1.62em;
}

.footer-font{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-bar{
    flex-direction: column;
    display: flex;
    align-items: center;
}

.footer-nav{
    padding: 0em;
}