:root {
    --primary-color: rgb(229, 251, 250);
    --secondary-color:#e8e8e8;
    --third-color: #FFE25Fff;
  }

  *{
    text-align: center;
  }

  .body{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.welcome{
    margin:40px;
    
}

.btn-primary{
    margin:10px;
    font-size: 1.5em;
}

h1 {
  font-family: "Bad Script", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 3em;
}

h3 {
  font-family: "Bad Script", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 2em;
}

  .welcome img {
      width: 100%; /* Adjust width as needed */
      height: auto; /* Auto adjust height to maintain aspect ratio */
      max-width: 450px;
    
  }

  @media (max-height: 900px) {
    .welcome img {
        width: 100%; /* Adjust width as needed */
        height: auto; /* Auto adjust height to maintain aspect ratio */
    }
}