:root {
    --primary-color: rgb(229, 251, 250);
    --secondary-color:#f4f4f4;
    --third-color: #FFE25Fff;
  }

.questions{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-container{
    padding-top:1.5em;
    padding-bottom: 1.5em;
}

.question-label {
    padding:1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.question-input{
    margin: 2.5em;
}

.question{
    font-size: 1.8em;
}

.questionnaire{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button{
   margin-bottom: 1.8em;
   margin-right:1em;
   margin-left:1em;
}

.question-label-category{
    padding: .5em;
    padding-left: .5em;
    padding-right: .5em;
    font-size: .8em;
}

.question-label-category-info{
    font-size: .35em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
}

.category-form{
    margin-top: .5em;
    margin-left: .5em;
    margin-right: .5em;
}

.category-input{
    font-size: .8em;
    padding-top:.4em;
    padding-bottom: .4em;
}
.category-button{
    margin: 1em;
    font-size: .6em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    color: black;
}

/* bridegroom */

.bride-groom-form{
    display: flex;
    flex-direction: row;
    margin-top: .25em;
    margin-left:.25em;
    margin-right:.25em;
}

.bride-groom-dropdown{
    color: gray;
    font-size: .75em;
    padding-left: 2.2em;
    padding-right: 2.2em;
}

.bride-groom-spacing{
    padding: .25em;
}

.firstName-spacing{
    margin-top: .5em;
    margin-bottom: .5em;
}

.lastName-spacing{
    margin-top: .5em;
    margin-bottom: .5em;
}