:root {
    --primary-color: rgb(229, 251, 250);
    --secondary-color:#fff4fd;
    --third-color: #FFE25Fff;
  }

  *{
    text-align: center;
  }

  .body{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.welcome{
    margin:40px;
    
}

.btn-primary{
    margin:10px;
    font-size: 1.5em;
}